################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ClientEndpoint/obj
/Contracts/WUBS.Contracts/obj
/ServerEndpoint/obj
/Utilities/ServiceModelEx/obj
/Utilities/WUBS.Cct.DataExamples/obj
/Utilities/WUBS.Services.Common/obj
/Utilities/WUBS.Utilities.Common/obj
/WUBS.Infrastructure.Logging/obj
/WUBS.Infrastructure.Messaging/obj
/WUBS.Infrastructure.WCF/obj/Release
/WUBS.Infrastructure.WCF/obj/Debug
/ClientEndpoint/bin/Debug
/Contracts/WUBS.Contracts/bin/Debug
/packages
/ServerEndpoint/bin/Debug
/ServiceModelEx/bin/Debug
/Utilities/WUBS.Utilities.Common/bin/Debug
/WUBS.Infrastructure.Logging/bin/Debug
/WUBS.Infrastructure.Messaging/bin/Debug
/WUBS.Infrastructure.WCF/bin/Debug
/Contracts/NSB.Contracts/bin/Debug
/Contracts/NSB.Contracts/obj
/NSB.Infrastructure.Logging/bin/Debug
/NSB.Infrastructure.Logging/obj
/NSB.Infrastructure.Messaging/bin/Debug
/NSB.Infrastructure.Messaging/obj
/NSB.Infrastructure.WCF/bin/Debug
/NSB.Infrastructure.WCF/obj
/Utilities/NSB.Utilities.Common/bin/Debug
/Utilities/NSB.Utilities.Common/obj
