<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <appSettings>
    <add key="Environment" value="" />
    <add key="ConnectionString.servicecontrol" value="Data Source=.\sql2014;Initial Catalog=service_control;Integrated Security=True" />
    <add key="ConnectionString.Payments" value="Data Source=.\sql2014;Initial Catalog=Payments;Integrated Security=True" />
    <!--Logging-->
    <add key="Log.Directory" value=".\" />
    <add key="Log.Level" value="Info" />
    <add key="Log.Audit.Level" value="Info" />
    <!--WCF-->
    <add key="Transport.Security.Mode" value="Windows" />  <!--Windows, None, X509Certificate-->
    <add key="Endpoint.PaymentsService.Uri" value="net.tcp://localhost:8004/PaymentsService" />

<!--NSB Plugins-->
    <add key="Installer.Enabled" value="true" />
    <add key="ClientPayments.Metrics.Enabled" value="false" />
    <add key="ClientPayments.Metrics.SLA.Minutes" value="1" />
    <add key="ClientPayments.Metrics.Interval.Seconds" value="2" />
    <add key="ClientPayments.CustomHealthCheck.Enabled" value="true" />
    <add key="ClientPayments.CustomHealthCheck.ServiceControlQueue" value="Particular.ServiceControl" />
    <add key="ClientPayments.CustomHealthCheck.TTL.Minutes" value="10" />
    <add key="ClientPayments.CustomHealthCheck.Interval.Minutes" value="5" />
    <add key="ServiceControl/Queue" value="DT4_ART_Particular.ServiceControl" />
    <add key="Heartbeat/Interval" value="00:01:00" />
    <add key="Heartbeat/TTL" value="00:03:00" />


    <!-- ONLY APPLIES TO  LOCAL DEV TESTING !!!-->
    <!-- Database; Default ; LocalFile-->
    <add key="ClientPayments.Transport.Mode" value="Database" />
    <add key="ClientPayments.Transport.LocalFile.Path" value="..\..\..\..\Build\Logs\nsb_transport" />
    
    
    
    
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.9.4.0" newVersion="4.9.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>