<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<configuration>
  <appSettings>
    <add key="ValueDateService.WebServiceURL" value="http://dt6com.cctdev.com:221/ValueDateService.asmx"/>
    <add key="ConnectionString.Rueschlink" value="data source=localhost;initial catalog=Rueschlink;Integrated Security=SSPI; packet size=4096"/>
    <add key="ConnectionString.History" value="data source=localhost;initial catalog=Rlhistory;Integrated Security=SSPI; packet size=4096"/>
    <add key="ConnectionString.Vmars" value="data source=localhost;initial catalog=VMARS;Integrated Security=SSPI; packet size=4096"/>
    <add key="ConnectionString.VMS" value="data source=localhost;initial catalog=VMS;Integrated Security=SSPI; packet size=4096"/>
    <add key="ConnectionString.Crs" value="data source=localhost;initial catalog=CRS;Integrated Security=SSPI; packet size=4096"/>
    <add key="ConnectionString.NostroSubsidiary" value="data source=localhost;initial catalog=NostroSubsidiary;Integrated Security=SSPI; packet size=4096"/>
    <add key="ConnectionString.Baft" value="data source=localhost;initial catalog=BAFT;Integrated Security=SSPI; packet size=4096"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ValueDateServiceSoap"/>
      </basicHttpBinding>
      <customBinding>
        <binding name="ValueDateServiceSoap12">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpTransport/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://dt6com.cctdev.com:221/ValueDateService.asmx" binding="basicHttpBinding" bindingConfiguration="ValueDateServiceSoap" contract="ValueDateWebService.ValueDateServiceSoap" name="ValueDateServiceSoap"/>
      <endpoint address="http://dt6com.cctdev.com:221/ValueDateService.asmx" binding="customBinding" bindingConfiguration="ValueDateServiceSoap12" contract="ValueDateWebService.ValueDateServiceSoap" name="ValueDateServiceSoap12"/>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
