<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Rueschlink" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=work_WUBS2_Trunk_Rueschlink;Integrated Security=True"/>
    <add name="CRS" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=work_WUBS2_Trunk_CRS;Integrated Security=True"/>
    <add name="VMS" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=work_WUBS2_Trunk_VMS;Integrated Security=True"/>
    <add name="RLHistory" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=work_WUBS2_Trunk_RLHistory;Integrated Security=True"/>
    <add name="VMARS" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=work_WUBS2_Trunk_VMARS;Integrated Security=True"/>
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
